NET "rst" LOC = "C9" | IOSTANDARD = LVTTL;
NET "b[0]" LOC = "C4" | IOSTANDARD = LVTTL;
NET "b[1]" LOC = "B8" | IOSTANDARD = LVTTL;
NET "b[2]" LOC = "D9" | IOSTANDARD = LVTTL;


NET "unlock" LOC = "T11" | IOSTANDARD = LVTTL;
NET "clk" LOC = "V10" | IOSTANDARD = LVTTL;

NET "seg[1]" LOC = "T17" | IOSTANDARD = LVTTL;
NET "seg[2]" LOC = "T18" | IOSTANDARD = LVTTL;
NET "seg[3]" LOC = "U17" | IOSTANDARD = LVTTL;
NET "seg[4]" LOC = "U18" | IOSTANDARD = LVTTL;
NET "seg[5]" LOC = "M14" | IOSTANDARD = LVTTL;
NET "seg[6]" LOC = "N14" | IOSTANDARD = LVTTL;
NET "seg[7]" LOC = "L14" | IOSTANDARD = LVTTL;